__pycache__/
build/
dist/
*.egg-info/
*.swp
*.vscode
*.DS_Store
*.pt
*.so
*trial*
*RELEASE_*
*submission_
*.npz
*.npy
**/mapping/README.md
**.json
**/checkpoint
**/events.out.*
**/test*
**/pcqm4m-scaf/**
**/logs/**
**/lightning_logs/**

*.bin
*txt

*.ipynb

cache/

/graph_lm_model
*.csv
*.log
emb/
.cache_revgat
.cache_autoencoder
datasets/
.cache*
*.zip
*.csv.gz
src/feature_extractor/lm_finetune/dataset
src/feature_extractor/lm_finetune/simteg
src/feature_extractor/autoencoder/vec2text/dataset
